html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    background: #F5F5F5;
    height: 100%;
}

.bg-bleu {
    background-color: #2196F3;
}
.bg-vert {
    background-color: #4CAF50;
}
.t-gris {
    color: #9E9E9E;
}
.search{
    height: 48px;
    width: 480px;
    border: none;
    padding-left: 18px;
    border-radius: 5px;
    background: #E0E0E0;
}
.search-button {
    border: none;
    background: #F5F5F5;
    padding-right:18px;
    margin-left: -18px;
}
.search-button img {
    width: 27px;
    height: 27px;
}

.container-form {
    background:#FFFFFF;
    width: 50%;
}
.form-title {
    font-size: 45px;
    text-align: center;
}
.contact-input {
    margin-top: 6px;
    width: 390px;
    height: 48px;
    padding-left: 16px;
    border-radius: 5px;
    border: none;
    background: #E0E0E0;
}
.button-contact {
    border: none;
    border-radius: 5px;
    height: 47px;
    width: 130px;
    /* color: #FFFFFF; */
    border-radius: 6px;
}
.button-contact:active {
    transition: ease 0.5s;
    opacity: 0.8;
}

.btn-enr {
    background: #4CAF50;
    color: #FFFFFF;
    font-weight: bold;
}
.btn-annule {
    background: #9E9E9E;
    font-weight: bold;
    color: #FFFFFF;
}
.add-contact {
    width: 20px;
    height: 20px;
    margin-left: 8px;

}
.btn-add {
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    height: 48px;
    width: 140px;
    background-color: #E0E0E0;
}
.btn-add-container {
    display: none;
}
.btn-add:active {
    transition: ease 0.4s;
    background: #9E9E9E;
}
/* container button */
.buttons-contact,.three-p {
    flex-direction: row-reverse;
}
.three-p {
    height: 100%;
    padding-block: 18px;
    padding-right: 24px;
    position: relative;
}
.three-p-icon {
    height: 20px;
    cursor: pointer;
}
.contact-label {
    /* font-weight: bolder; */
    color: #616161;
    font-weight: 500;
    font-size: 17px;
}
.labelyInput {
    margin-bottom: 30px;
}

.contact-title{
    color: #2196F3;
}

.container-list {
    background: #F5F5F5;
    width: 60%;
}

.list-title {
    color: #2196F3;
}

.list-head {
    font-weight: bold;
    border-radius: 10px;
    height: 62px;
    border: 1px solid #E0E0E0;
}
.layer-updateform {
    /* display: flex; */
    padding-top: 100px;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #03030384;
}
.right {
    height: 38px;
    /* border: 1px solid black; */
    border-radius: 6px;
    background: #E0E0E0;
    cursor: pointer;
}
.element-list {
    color: #424242;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0; 
}
.drop-three-btn {
    background:  #E0E0E0;
    height: 115px;
    width: 136px;
    position: absolute;
    z-index: 1;
    top: -28px;
    left: -40px;
    text-align: center;
}
.drop-three-btn button{
    border: none;
    border-radius: 4px;
    width: 122px;
    height: 46px;
    margin-top: 8px;
    color: #FFFFFF;
    font-weight: bold;
}
.suppr {
    background: rgb(255, 65, 54);

}
.edit {
    background: rgb(0, 123, 255);
}
.popdown-container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}
.popdown { 
    align-items: center;
    padding-top: 42px;
    margin-top: 10px;
    background: #FFFFFF;
    height: 170px;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    border-radius: 6px;
}
.popdown-up {
    transition: ease 0.3s;
    transform: translateY(-200px);
}
.popdown-down {
    transform: translateY(0);
    transition: ease 0.3s;
}

.popdown button {
    color: #FFFFFF;
    font-weight: bold;
}
.popdown p {
    font-size: 16px;
    font-weight: 500;
}
.icone {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 18px;
    top: 18px;
}
.updateform {
    padding-top: 65px;
    margin: auto;
    border-radius: 12px;
    background-color: #FFFFFF;
    height: 620px;
    width: 420px;
    margin-block: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateform h1 {
    color : rgb(0, 123, 255);
    padding-bottom: 6%;
}

.updateform input {
    width: 340px;
}
.updateform .btns-update-form {
    width: 340px;
    gap: 16px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}
.updateform .btn-update-form{
    width: 100%;
    font-weight: 550;
    color: #FFFFFF;
}

@media screen and (max-width : 600px) {
    .search{
      width: 215px;
      font-size: 14px;
      height: 45px;
    }
    .search-button {
        padding-right: 12px;
    }
    .contact-input {
        width: 340px;
    }
    .list-table {
        font-size: 13px;
    }
    .btn-add {
        font-size: 13px;
        height: 45px;
        width: 120px;
    }
    .form-title {
        font-size: 40px;
        text-align: center;
    }
    .add-contact {
        height: 14px;
        width: 14px;
    }
  }
@media screen and (min-width: 601px) and (max-width: 800px) {
    .search{
      width: 360px; 
      font-size: 14px; 
    }
  }
@media screen and (max-width: 1400px) {
    .container-form {
        /* background: #000; */
        position: fixed;
        right: 0;
        height: 100%;
        display: flex;
        transition: ease 0.5s;
        transform: translateX(100%);
    }

    .open {
        transform: translateX(0);
    }
}

@media  screen and (max-width: 900px) {
    .container-form {
        width: 100%;
    }
    .updateform input {
        width: 300px;
    }
    .updateform {
        width: 95%;
        /* height: 92%; */
    }
    .layer-updateform {
        padding-top: 24px;
    }
}